In [176]:
#Dependencies
from bs4 import BeautifulSoup
import requests
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
from selenium import webdriver
import pandas as pd

In [115]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

## NASA Mars News

In [107]:
news_header = soup.find('div', class_='content_title').text
news_paragraph = soup.find('div', class_='rollover_description_inner').text
print(news_header)
print(news_paragraph)

NASA's Ingenuity Helicopter to Begin New Demonstration Phase



The Red Planet rotorcraft will shift focus from proving flight is possible on Mars to demonstrating flight operations that future aerial craft could utilize.

## JPL Mars Space Images - Featured Image

In [68]:
#Set-up splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/amandaevanstoninc/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [69]:
#To use with splinter part
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [75]:
#NEED TO WORK ON--DON't USE SPLINTER AND GETS WRONG IMAGE
base_url = "https://www.jpl.nasa.gov/images/"
feature_img_url = soup.find('img')['src']
full_url = f"{base_url}{feature_img_url}"
full_url
# # Click the 'Image' button on each page
#     try:
#         browser.links.find_by_partial_text('next').click()
          
#     except:
#         print("Scraping Complete")

'https://www.jpl.nasa.gov/images//assets/logo_mars_trio_black@2x.png'

## Mars Facts

In [108]:
table_url = 'https://space-facts.com/mars/'
tables = pd.read_html(table_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [109]:
 type(tables)

list

In [110]:
mars_df = tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [111]:
#Convert df to html ans 
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [112]:
#strip stray characters
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [163]:
#Test on one link
test_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
response = requests.get(test_url)
soup = BeautifulSoup(response.text, 'html.parser')
title = soup.find('h2', class_='title').text
image_url = soup.find('div', class_='downloads').a['href']
print(title)
print(image_url)

Cerberus Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

Cerberus Hemisphere Enhanced

In [181]:
mars_images_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
response = requests.get(mars_images_url)
soup = BeautifulSoup(response.text, 'html.parser')
browser.visit(mars_images_url)
hemisphere_image_urls = []

In [182]:
#test trying to get all a elements in same class--no luck yet https://sqa.stackexchange.com/questions/35338/fetch-all-the-links-on-a-page-that-are-within-the-same-class
elements = browser.driver.find_elements_by_css_selector(".item > a")
print(elements)

[<selenium.webdriver.remote.webelement.WebElement (session="4247014152eebddf11af1cff51d377bb", element="e51fe3a1-fca7-46a8-8c6f-1bcfeb98ea87")>, <selenium.webdriver.remote.webelement.WebElement (session="4247014152eebddf11af1cff51d377bb", element="8b8fe4a8-09a1-4923-9369-79f87f3fcdfa")>, <selenium.webdriver.remote.webelement.WebElement (session="4247014152eebddf11af1cff51d377bb", element="8f932392-47d4-4c42-9236-3939c0c5bb96")>, <selenium.webdriver.remote.webelement.WebElement (session="4247014152eebddf11af1cff51d377bb", element="3e7807b2-2449-4fa4-95fe-422f4f987f58")>]

In [167]:
#THis doesn't work as intended.
for x in range(4):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    
    try:
        browser.links.find_by_partial_text('hemisphere').click()
        title = soup.find('h2', class_='title').text
        link = soup.find('div', class_='downloads').a['href']
        dictionary = {'title': title, 'img_url': link}
        hemisphere_image_urls.append(dictionary)
        driver.navigate().back() #https://www.toolsqa.com/selenium-webdriver/selenium-navigation-commands/
          
    except:
        print("Scraping Complete")

Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete
Scraping Complete

In [168]:
print(hemisphere_image_urls)

[]